@font-face {
  font-family: 'EIisabethische';
  src: url('../../fonts/EIisabethische.eot');
  src: url('../../fonts/EIisabethische.eot') format('embedded-opentype'), url('../fonts/EIisabethische.woff2') format('woff2'), url('../fonts/EIisabethische.woff') format('woff'), url('../fonts/EIisabethische.ttf') format('truetype'), url('../fonts/EIisabethische.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Super';
  src: url('../../books/common/fonts/SuperMario3DWorld.eot');
  src: url('../../books/common/SuperMario3DWorld.eot?#iefix') format('embedded-opentype'), url('../../books/common/fonts/SuperMario3DWorld.woff2') format('woff2'), url('../../books/common/fonts/SuperMario3DWorld.woff') format('woff'), url('../../books/common/fonts/SuperMario3DWorld.ttf') format('truetype'), url('../../books/common/fonts/SuperMario3DWorld.svg#SuperMario3DWorld') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
.big_container {
  min-height: 100vh;
  background: url(../img/babochki.jpg) center no-repeat;
  background-size: cover;
  padding: 3rem;
}
h1 {
  font-family: 'Super', 'EIisabethische', sans-serif;
  font-size: 3.5rem;
}
h2 {
  font-family: 'Super', 'EIisabethische', sans-serif;
  font-size: 2rem;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.page-bg {
  background: url(../img/panda.png) center no-repeat;
  background-size: cover;
}
.page {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  margin: 2rem;
  border: 1px solid white;
}
.page .for-btn {
  margin: 2rem;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Super', 'EIisabethische', sans-serif;
  font-size: 1.2rem;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e664), to(#98e591));
  background: linear-gradient(#e4e664, #98e591);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.page h1 {
  text-shadow: 2px 2px 3px rgba(18, 104, 1, 0.5);
}
.backToMainPage {
  font-size: 3rem;
}
